<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Module</title>
    <style>
        table, tr,th,td {border: 2px solid black; padding: 5px}
    </style>
  </head>
  <body>
    <div class="container my-4">
        <h1>Hello {{status}}</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Change</th>
            </tr>
            <tr>
                <td>{{status.light1_name}}</td>
                <td>{{status.light1_status}}</td>
                <td><a href="change/"><button>Change</button></a></td>
            </tr>
            <tr>
                <td>{{status.light2_name}}</td>
                <td>{{status.light2_status}}</td>
                <td><a href="change/"><button>Change</button></a></td>
            </tr>
            <tr>
                <td>{{status.light3_name}}</td>
                <td>{{status.light3_status}}</td>
                <td><a href="change/"><button>Change</button></a></td>
            </tr>
        </table>
        <form method="get" action="change/">
        <input type="radio" name="light" id="Room1" value="Room1">
        <label for="Room1">Room1</label><br>
        <input type="radio" name="light" id="Room2" value="Room2">
        <label for="Room2">Room2</label><br>
        <input type="radio" name="light" id="Room3" value="Room3">
        <label for="Room3">Room3</label><br>
        <input type="submit" value="Change">
        </form>
    
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>